<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="imagenCRUD">
    <div class="row col-12">
        <div class="creaCard one">
            <div style="text-align: left; color: white">
                <a ui-sref="listMarca"><span class="atras"><i class="fa fa-angle-left fa-2x" style="color: aliceblue"></i></span></a></div>
            <h2>Registrar Marca</h2>
            <form name="marca" style="text-align: center">
                <br>
                <label class="col-md-6" for="nombre">Nombre</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.name">
                <br>
                <br>
                <label class="col-md-6" for="imagen">Imagen</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.logo">
                <br>
                <br>
                <div ng-if="!marca.$valid">
                    <div class="alert alert-warning">
                        <strong>Atención!</strong>
                        <p>Debe llenar todos los campos</p>
                    </div>
                </div>
                <br>
                <input ng-show="marca.$valid" id="botonCrud" ng-click="crearMarca()" value="Crear" class="btn btn-success" />
                <br>
            </form>
            <br>
        </div>
    </div>
</div>