<div class="imagenCRUD">
    <div class="row col-12">
        <div class="creaCard one">
            <div style="text-align: left; color: white">
                <a ui-sref="listPc"><span class="atras"><i class="fa fa-angle-left fa-2x" style="color: aliceblue"></i></span></a></div>
            <h2>Registrar Punto de Venta</h2>
            <form name="prospecto" style="text-align: center">
                <br>
                <label class="col-md-6" for="direccion">Dirección</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.direccion">
                <br>
                <br>
                <label class="col-md-6" for="nombre">Nombre</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.nombre">
                <br>
                <br>
                <!--Este id vendedor podría cambiarse por el currency, pues el vendedor inició sesión-->
                <label class="col-md-6" for="telefono">Teléfono</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.telefono">
                <br>
                <br>
                <div ng-if="!prospecto.$valid">
                    <div class="alert alert-warning">
                        <strong>Atención!</strong>
                        <p>Debe llenar todos los campos</p>
                    </div>
                </div>
                <br>
                <input ng-show="prospecto.$valid" id="botonCrud" ng-click="puntoVentaCrear()" value="Crear" class="btn btn-success" />
                <br>
            </form>
            <br>
        </div>
    </div>
</div>
