# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.ds_store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/s3_ivanysusbambam-back/target/
/s3_ivanysusbambam-web/target/
/target/
/src/main/webapp/bower_components/
/s3_ivanysusbambam-back/nbproject/
/s3_ivanysusbambam-web/src/main/webapp/bower_components/
/s3_ivanysusbambam-web/bower_components/jquery/nbproject/private/
/s3_ivanysusbambam-web/bower_components/bootstrap/nbproject/private/