<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>

<form name ="clientefForm">
<h3 style="margin:20px" >Consultar cliente</h3>

    <div class="row col-12">

        <div class="card col-12" style="padding:0px; margin: 10px ">
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e">Información básica:</div>
                <div class="form-group">
                    <label class="control-label col-sm-12">Cédula:</label>
                    <div class="col-sm-12">
                        <p class="form-control-static">{{cliente.cedula}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Nombre:</label>
                    <div class="col-md-10">
                        <input id="clienteNombre" required ng-model = "nuevoNombre" ng-change="cambioInfo()" ng-value = "cliente.nombre">
                    </div>

                </div>
                <div class ="form-group">
                    <button style = "margin:10px" class = "btn btn-default" ng-click = "subirInfoCliente()" ui-sref ="editarCliente({clienteId: cliente.cedula})"> Editar </button>
                </div>
        </div>
    </div>


    <div class="row col-12 " id="carta2"  >
        <div class="card col-12  " style="padding:0px; margin: 10px ">
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e">Calificaciones de la tienda:  </div>
            <div class="form-group">
                    <div class="table-responsive">   
                        <table class="table table-bordered" style="color: #1a237e" >
                            <thead  class="thead" style="background-color: #1a237e; color: white; font-size: 12px">
                                <tr >
                                    <th> Id </th>
                                    <th> Puntaje </th>
                                    <th> Texto </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ct in cliente.calificacionesTienda" style="color: black; font-size:12px">
                                    <td>{{ct.id}}</td>
                                    <td>{{ct.puntaje}}</td>
                                    <td>{{ct.texto}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>


    <div class="row col-12">
        <div class="card col-12" style="padding:0px; margin: 10px ">
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e">Compras:</div>
            <div class="form-group">
                    <div class="table-responsive">   
                        <table class="table table-bordered" style="color: #1a237e" >
                            <thead  class="thead" style="background-color: #1a237e; color: white; font-size: 12px">
                                <tr >
                                    <th>Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="compra in vendedor.compras" style="color: black; font-size:12px">
                                    <td><a ui-sref ="compraDetail({compraId: compra.idCompra})">{{compra.idCompra}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>

    <div class="row col-12">
        <div class="card col-12" style="padding:0px; margin: 10px ">
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e">Compras:</div>
            <div class="form-group">
                    <div class="table-responsive">   
                        <table class="table table-bordered" style="color: #1a237e" >
                            <thead  class="thead" style="background-color: #1a237e; color: white; font-size: 12px">
                                <tr >
                                    <th>Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="compra in vendedor.compras" style="color: black; font-size:12px">
                                    <td><a ui-sref ="compraDetail({compraId: compra.idCompra})">{{compra.idCompra}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>

    <div class="row col-12 ">
        <div class="card col-12  " style="padding:0px; margin: 10px ">
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e">Medios de pago: </div>
            <div class="form-group">
                    <div class="table-responsive">   
                        <table class="table table-bordered" style="color: #1a237e" >
                            <thead  class="thead" style="background-color: #1a237e; color: white; font-size: 12px">
                                <tr >
                                    <th>Número</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mp in cliente.mediosDePago" style="color: black; font-size:12px">
                                    <td>{{mp.numero}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>

    <div class="row col-12 ">
        <div class="card col-12  " style="padding:0px; margin: 10px ">
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e">Prospectos de compra: </div>
            <div class="form-group">
                    <div class="table-responsive">   
                        <table class="table table-bordered" style="color: #1a237e" >
                            <thead  class="thead" style="background-color: #1a237e; color: white; font-size: 12px">
                                <tr >
                                    <th>Id</th>
                                    <th> Texto </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pc in cliente.prospectosCompra" style="color: black; font-size:12px">
                                    <td><a ui-sref = "pcDetail({pcId: pc.id})">{{pc.id}}</a></td>
                                    <td>{{pc.texto}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>

    <div class="row col-12 ">
        <div class="card col-12  " style="padding:0px; margin: 10px ">
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e">Quejas/reclamos: </div>
            <div class="form-group">
                    <div class="table-responsive">   
                        <table class="table table-bordered" style="color: #1a237e" >
                            <thead  class="thead" style="background-color: #1a237e; color: white; font-size: 12px">
                                <tr >
                                    <th> Tipo </th>
                                    <th> Texto </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="qr in cliente.quejasReclamos" style="color: black; font-size:12px">
                                    <td>{{qr.tipo}}</td>
                                    <td>{{qr.texto}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>

    <div class="row col-12 ">
        <div class="card col-12  " style="padding:0px; margin: 10px ">
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e">Ventas: </div>
            <div class="form-group">
                    <div class="table-responsive">   
                        <table class="table table-bordered" style="color: #1a237e" >
                            <thead  class="thead" style="background-color: #1a237e; color: white; font-size: 12px">
                                <tr >
                                    <th>Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="venta in cliente.ventas" style="color: black; font-size:12px">
                                    <td><a ui-sref = "ventaDetail({ventaId: venta.idVenta})">{{venta.idVenta}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</form>



<!--<form name ="clienteForm">
<div class ="row">
  
    <div class ="col-md-6">
        <div class="card" style="margin: 5px; width: 300px">
            <div class ="card-body">
                <h5> Nombre: </h5> 
                <input id="clienteNombre" required ng-model = "nuevoNombre" ng-change="cambioInfo()" ng-value = "cliente.nombre">
            </div>
        </div>
    </div>
    
    <div class ="col-md-6"> 
        <div class="card" style="margin: 5px; width: 300px">
            <div class ="card-body" >
                <h5> Cédula: </h5> {{cliente.cedula}}
            </div>
        </div>
    </div>
    
    
</div>    
<div class ="row">
    <div class =" col-md-6">
        <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <h5> Calificaciones de la tienda: </h5> 
                
                <div class ="table-responsive">
                    
                    <table class ="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Puntaje</th>
                                <th>Texto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = " ct in cliente.calificacionesTienda">
                                <td>{{ct.id}}</td>
                                <td>{{ct.puntaje}}</td>
                                <td>{{ct.texto}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>   
        </div>
    </div>
   <div class =" col-md-6">
        <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <h5> Compras: </h5> 
                
                <div class ="table-responsive">
                    
                    <table class ="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = " compra in cliente.compras">
                                <td>{{compra.idCompra}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>   
        </div>
    </div>  
</div>

<div class ="row">
    
    <div class =" col-md-6">
        <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <h5> Medios de pago: </h5> 
                
                <div class ="table-responsive">
                    
                    <table class ="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Numero</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = " mp in cliente.mediosDePago">
                                <td>{{mp.numero}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>   
        </div>
    </div>
    
    <div class =" col-md-6">
        <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <h5> Prospectos de compra: </h5> 
                
                <div class ="table-responsive">
                    
                    <table class ="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Texto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = " pc in cliente.prospectosCompra">
                                <td>{{pc.id}}</td>
                                <td>{{pc.texto}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>   
        </div>
    </div>
    
</div>

<div class="row">
    
    <div class =" col-md-6">
        <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <h5> Quejas/reclamos: </h5> 
                
                <div class ="table-responsive">
                    
                    <table class ="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Texto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = " qr in cliente.quejasReclamos">
                                <td>{{qr.tipo}}</td>
                                <td>{{qr.texto}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>   
        </div>
    </div>
    
    <div class =" col-md-6">
        <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <h5> Ventas: </h5> 
                
                <div class ="table-responsive">
                    
                    <table class ="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = " venta in cliente.ventas">
                                <td>{{venta.idVenta}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>   
        </div>
    </div>
    
</div>
    <div class ="row " style = "margin: 10px" >
                       
                            <div ng-if="!clienteForm.$valid">

                                <div class="alert alert-warning" >
                                    <strong>Atención!</strong><p>Debe llenar todos los campos</p>
                                </div> 
                            </div> 
                    </div>
<div class ="row">
    <div class ="col-md-6">
    <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <button class = "btn btn-default" ng-show= "clienteForm.$valid" ng-click = "editarCliente()"> Guardar cambios </button>
            </div>
    </div>    
    </div>
</div>
    
</form-->