<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<form name ="clienteForm">
<div class ="row">
  
    <div class ="col-md-6">
        <div class="card" style="margin: 5px; width: 300px">
            <div class ="card-body">
                <h5> Nombre: </h5> 
                <input id="clienteNombre" required ng-model = "nuevoNombre" ng-change="cambioInfo()" ng-value = "cliente.nombre">
            </div>
        </div>
    </div>
    
    <div class ="col-md-6"> 
        <div class="card" style="margin: 5px; width: 300px">
            <div class ="card-body" >
                <h5> Cédula: </h5> {{cliente.cedula}}
            </div>
        </div>
    </div>
    
    
</div>    
<div class ="row">
    <div class =" col-md-6">
        <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <h5> Calificaciones de la tienda: </h5> 
                
                <div class ="table-responsive">
                    
                    <table class ="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Puntaje</th>
                                <th>Texto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = " ct in cliente.calificacionesTienda">
                                <td>{{ct.id}}</td>
                                <td>{{ct.puntaje}}</td>
                                <td>{{ct.texto}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>   
        </div>
    </div>
   <div class =" col-md-6">
        <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <h5> Compras: </h5> 
                
                <div class ="table-responsive">
                    
                    <table class ="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = " compra in cliente.compras">
                                <td>{{compra.idCompra}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>   
        </div>
    </div>  
</div>

<div class ="row">
    
    <div class =" col-md-6">
        <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <h5> Medios de pago: </h5> 
                
                <div class ="table-responsive">
                    
                    <table class ="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Numero</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = " mp in cliente.mediosDePago">
                                <td>{{mp.numero}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>   
        </div>
    </div>
    
    <div class =" col-md-6">
        <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <h5> Prospectos de compra: </h5> 
                
                <div class ="table-responsive">
                    
                    <table class ="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Texto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = " pc in cliente.prospectosCompra">
                                <td>{{pc.id}}</td>
                                <td>{{pc.texto}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>   
        </div>
    </div>
    
</div>

<div class="row">
    
    <div class =" col-md-6">
        <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <h5> Quejas/reclamos: </h5> 
                
                <div class ="table-responsive">
                    
                    <table class ="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Texto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = " qr in cliente.quejasReclamos">
                                <td>{{qr.tipo}}</td>
                                <td>{{qr.texto}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>   
        </div>
    </div>
    
    <div class =" col-md-6">
        <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <h5> Ventas: </h5> 
                
                <div class ="table-responsive">
                    
                    <table class ="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = " venta in cliente.ventas">
                                <td>{{venta.idVenta}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>   
        </div>
    </div>
    
</div>
    <div class ="row " style = "margin: 10px" >
                       
                            <div ng-if="!clienteForm.$valid">

                                <div class="alert alert-warning" >
                                    <strong>Atención!</strong><p>Debe llenar todos los campos</p>
                                </div> 
                            </div> 
                    </div>
<div class ="row">
    <div class ="col-md-6">
    <div class ="card" style ="margin: 5px; width:300px">
            <div class ="card-body">
                <button class = "btn btn-default" ng-show= "clienteForm.$valid" ng-click = "editarCliente()"> Guardar cambios </button>
            </div>
    </div>    
    </div>
</div>
    
</form>