<div class="backComprar">
<div >
    <div class="row col-12">
        <div class="comentCard one">
            <div style="text-align: left; color: white">
                <a href="comprarAuto"><span class="atras"><i class="fa fa-angle-left fa-2x" style="color: aliceblue"></i></span></a></div>
            <div style="text-align: right;">
                <a href="#"><span class="cancelar"><i class="fa fa-times fa-1x" style="color: aliceblue"></i></span></a></div>
            <h1>Califica el punto de venta</h1>
            <br>
            <form name="comentarios">
                <br>
                <label id="comentario">Comentario</label>
                <br>
                <textarea class="form-control" id="comentariotxt" rows="2" ng-model="data.comentario"></textarea>
            </form>
            <br>
            <label id="comentario">Puntuación</label>
           <select ng-change="cambioInfo()" ng-model ="puntaje">
                <option>1.0</option>
                <option>1.5</option>
                <option>2.0</option>
                <option>2.5</option>
                <option>3.0</option>
                <option>3.5</option>
                <option>4.0</option>
                <option>4.5</option>
                <option>5.0</option>
            </select>
            <br>
            <button type="button" class="btn btn-success" id="botonCrud" ng-click="crearCalificacionTienda()" >Finalizar</button>
            <br>
            <br>
        </div>
    </div>

</div>
    </div>
