<h1> HOLA </h1>

<!--<div class="imagenCRUD">
    <div class="row col-12">
        <div class="creaCard one">
            <div style="text-align: left; color: white">
                <a ui-sref="listModelo"><span class="atras"><i class="fa fa-angle-left fa-2x" style="color: aliceblue"></i></span></a></div>
            <h2>Editar Modelo acá va la referencia</h2>
            <form name="modelo" style="text-align: center">
                <br>
                <label class="col-md-6" for="referencia">Referencia</label>
                <br>
                <input class="col-md-12" id="crudtxt" ng-model="data.referencia">
                <br>
                <br>
                <label class="col-md-6" for="numPuertas">Número de Puertas</label>
                <br>
                <input class="col-md-12" id="crudtxt" ng-model="data.numPuertas">
                <br>
                <br>
                <label class="col-md-6" for="transmision">Transmisión</label>
                <br>
                <input class="col-md-12" id="crudtxt" ng-model="data.transmision">
                <br>
                <br>
                <label class="col-md-6" for="cilindraje">Cilindraje</label>
                <br>
                <input class="col-md-12" id="crudtxt" ng-model="data.cilindraje">
                <br>
                <br>
                <input ng-show="modelo.$valid" id="botonCrud" ng-click="editarModelo()" value="Guardar" class="btn btn-success" />
            </form>
            <br>
        </div>
    </div>
</div>
