<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="imagenCRUD">
    <div class="row col-12">
        <div class="creaCard one">
            <div style="text-align: left; color: white">
                <a ui-sref="listModelo"><span class="atras"><i class="fa fa-angle-left fa-2x" style="color: aliceblue"></i></span></a></div>
            <h2>Registrar Modelo</h2>
            <form name="modelo" style="text-align: center">
                <br>
                <label class="col-md-6" for="id">Id</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.id">
                <br>
                <br>
                <label class="col-md-6" for="nombre">Referencia</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.name">
                <br>
                <br>
                <label class="col-md-6" for="numeroPuertas">Número Puertas</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.numeroPuertas">
                <br>
                <br>
                <label class="col-md-6" for="transmision">Transmisión</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.transmision">
                <br>
                <br>
                <label class="col-md-6" for="cilindraje">Cilindraje</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.cilindraje">
                <br>
                <br>
                <label class="col-md-6" for="centimetrosCubicos">Centimetros Cubicos</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.centCubicos">
                <br>
                <br>
                <div ng-if="!modelo.$valid">
                    <div class="alert alert-warning">
                        <strong>Atención!</strong>
                        <p>Debe llenar todos los campos</p>
                    </div>
                </div>
                <br>
                <input ng-show="modelo.$valid" id="botonCrud" ng-click="crearModelo()" value="Crear" class="btn btn-success" />
                <br>
            </form>
            <br>
        </div>
    </div>
</div>