<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="imagenCRUD">
    <div class="row col-12">
        <div class="creaCard one">
            <div style="text-align: left; color: white">
                <a ui-sref="listPc"><span class="atras"><i class="fa fa-angle-left fa-2x" style="color: aliceblue"></i></span></a></div>
            <h2>Registrar Prospecto</h2>
            <form name="prospecto" style="text-align: center">
                <br>
                <label class="col-md-6" for="nombre">Texto</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.texto">
                <br>
                <br>
                <label class="col-md-6" for="imagen">Cliente</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.cliente">
                <br>
                <br>
                <!--Este id vendedor podría cambiarse por el currency, pues el vendedor inició sesión-->
                <label class="col-md-6" for="imagen">Vendedor</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.vendedor">
                <br>
                <br>
                <!--Esto también podría quitarse, debido a que ya se sabe el auto al que se quiere crear-->
                <label class="col-md-6" for="imagen">Automóvil</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.auto">
                <br>
                <br>
                <div ng-if="!prospecto.$valid">
                    <div class="alert alert-warning">
                        <strong>Atención!</strong>
                        <p>Debe llenar todos los campos</p>
                    </div>
                </div>
                <br>
                <input ng-show="prospecto.$valid" id="botonCrud" ng-click="crearPc()" value="Crear" class="btn btn-success" />
                <br>
            </form>
            <br>
        </div>
    </div>
</div>