

<div class="imagenCRUD">
    <div class="row col-12">
        <div class="creaCard one">
            <div style="text-align: left; color: white">
                <a ui-sref="listPc"><span class="atras"><i class="fa fa-angle-left fa-2x" style="color: aliceblue"></i></span></a></div>
            <h2>Editar Prospecto de Compra acá va el id</h2>
            <form name="vendedor" style="text-align: center">
                <br>
                <label class="col-md-6" for="texto">Texto</label>
                <br>
                <input class="col-md-12" id="crudtxt" ng-model="data.texto">
                <br>
                <br>
                <label class="col-md-6" for="cliente">Cliente</label>
                <br>
                <input class="col-md-12" id="crudtxt" ng-model="data.cliente">
                <br>
                <br>
                <label class="col-md-6" for="vendedor">Vendedor</label>
                <br>
                <input class="col-md-12" id="crudtxt" ng-model="data.vendedor">
                <br>
                <br>
                <label class="col-md-6" for="auto">Automóvil</label>
                <br>
                <input class="col-md-12" id="crudtxt" ng-model="data.auto">
                <br>
                <br>
                <input ng-show="vendedor.$valid" id="botonCrud" ng-click="editarPc()" value="Guardar" class="btn btn-success" />
            </form>
            <br>
        </div>
    </div>
</div>