<div class="imagen2" style="text-align: center">

    <div class="card" id="cartaLogin2" style="max-height: 900px" >

        <div class="container" style=" background-color: white">
            <div class="row" style=" margin: 40px; text-align: left">
                <div class="column col-md-7" >
                    <a> <img  src="{{automovil.imagen}}" style="width: 500%" class="float-left" alt="imagencarro"></a>   
                </div>
                <div class="column col-md-5">
                    <h1 id="headerInicio">{{automovil.modelo.name}}</h1>
                    <p id="infoCarro">Precio: {{automovil.valorListado|currency}}</p>
                    <p id="infoCarro">Año: {{automovil.anio}}</p>
                    <p id="infoCarro">Placa: {{automovil.placa}}</p>
                    <p id="infoCarro">Color: {{automovil.color}}</p>
                    <a ui-sref="comprarAuto({idAuto:automovil.id, clienteId: currentUserId})" class="btn  align-items-center" style=" background-color:  #9ACD32;color: white; width: 100%; font-size: 25px"><i class="material-icons" style="font-size:26px;margin-right:20px ">shopping_cart</i>Comprar </a>
                </div>
            </div>
            <div class="row" >

                <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="width: 100%">
                    <!-- Brand/logo -->
                    <a class="navbar-brand" ui-sref="automovilGetAll">Regresar</a>

                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="automovilDetailInfo({automovilId:automovil.id})">Más Informacion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="automovilDetailPV({automovilId:automovil.id})">Punto de Venta</a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
            <div class="row" >
                <div ui-view="info"></div>
            </div>
        </div>
    </div>
</div>










<h1 id="h1" style="margin:20px" >Detail Automovil</h1>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class ="row">
    <div class ="col-md-6">
        <div class="card" style="margin: 5px; width: 300px">
            <div class ="card-body">
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> id automovil:</div>{{automovil.id}}
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> placa:</div>{{automovil.placa}}
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> año:  </div> {{automovil.anio}}
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> valor Listado:</div>{{automovil.valorListado| currency}}
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> Chasis:</div> {{automovil.chasis}}
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> color:</div> {{automovil.color}}
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> Marca:</div> {{automovil.marca.id}}
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> Modelo:</div> {{automovil.modelo.id}}
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> Punto de venta:</div> {{automovil.puntoDeVenta.name}}
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> Tipo:</div> {{automovil.tipo}}  
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> Kilometros:</div> {{automovil.kilometros}}


                <div class="card-body">
                    <div class="table-responsive">   
                        <table class="table table-bordered" style="color: #1a237e" >
                            <thead  class="thead" style="background-color: #1a237e; color: white">
                                <tr >

                                    <th>Prospectos de compra</th>
                                    <th>Ventas</th>

                                    <th>Compras </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pc in automovil.prospectosCompra" style="color: black">
                                    <td>
                                        {{pc.id}}    
                                    </td>
                                    <td>
                                        {{automovil.venta.idVenta}}
                                    </td>
                                    <td>
                                        {{automovil.compra.id}}
                                    </td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>


            </div>



        </div>
    </div>