<h1 id="h1" style="margin:20px" >Detail Automovil</h1>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class ="row">
     <div class ="col-md-6">
        <div class="card" style="margin: 5px; width: 300px">
            <div class ="card-body">
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> id automovil:</div>{{automovil.id}}
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> placa:</div>{{automovil.placa}}
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> año:  </div> {{automovil.anio}}
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> valor Listado:</div>{{automovil.valorListado| currency}}
              <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> Chasis:</div> {{automovil.chasis}}
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> color:</div> {{automovil.color}}
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> Marca:</div> {{automovil.marca.id}}
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> Modelo:</div> {{automovil.modelo.id}}
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> Punto de venta:</div> {{automovil.puntoDeVenta.name}}
            <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> Tipo:</div> {{automovil.tipo}}  
                <div class="card-header  " style="margin-bottom:20px; color: white; background-color: #1a237e"> Kilometros:</div> {{automovil.kilometros}}
            
            
            <div class="card-body">
                    <div class="table-responsive">   
                        <table class="table table-bordered" style="color: #1a237e" >
                            <thead  class="thead" style="background-color: #1a237e; color: white">
                                <tr >
                                    
                                    <th>Prospectos de compra</th>
                                    <th>Ventas</th>
                                    
                                    <th>Compras </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pc in automovil.prospectosCompra" style="color: black">
                                    <td>
                                    {{pc.id}}    
                                    </td>
                                    <td>
                                        {{automovil.venta.idVenta}}
                                        </td>
                                        <td>
                                            {{automovil.compra.id}}
                                            </td>

                                </tr>

                            </tbody>
                        </table>
            
            </div>
                 </div>
            
            
            </div>
            
            
            
        </div>
    </div>