<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<alert ng-repeat="alert in alerts" type = "{{alert.type}}" close = "closeAlert()">{{alert.msg}}</alert>

<div class =" container-fluid">
    
    <ul class ="list-group">
        <li class = "list-group-item" ng-repeat="automovil in automoviles"> <h5>{{automovil.id}} </h5>
            <h6>{{automovil.placa}} </h6><h7> {{automovil.valor}}</h7> <h8><img class="img-responsive" ng-src='{{automovil.imagen}}' style="width:400px;height:200px;" /></h8></li>
        
    </ul>
    
</div>
