<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">

    <div class="imagen2">
        <div class="row" style="margin-bottom: 100px">
            <br>
        </div>
        <div class="row centered" id="panelBusqueda">
            <div class="col-sm-4"></div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="filtroTipo">Tipo</label>
                            <select class="form-control">
                                <option>Camioneta</option>
                                <option>Sedan</option>
                                <option>Pick up</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- Me falta asociar el icono-->
                        <div class="form-group">
                            <label for="filtroMarca">Marca</label>
                            <select class="form-control" required ng-model="marca" ng-options="x.name for x in marcas"></select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!--<span class="input-group-addon"><i class=""></i></span>-->
                        <label for="filtroModelo">Modelo</label>
                        <select class="form-control" required ng-model="color" ng-options="x.name for x in modelos"></select>
                    </div>

                    <div class="col-sm-3">
                        <!--<span class="input-group-addon"><i class=""></i></span>-->
                        <label for="filtroPrecio">Desde</label>
                        <input type="text" class="form-control" required ng-model="precioMax" id="usr">
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="filtroPrecioh">Hasta</label>
                            <input type="text" class="form-control" required ng-model="precioMax" id="usr">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="filtroAnioD">Año desde</label>
                            <select class="form-control" required ng-model="fechaMin" ng-options="x for x in anos"></select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="filtroAnioH">Año hasta</label>
                            <select class="form-control" required ng-model="fechaMax" ng-options="x for x in anos"></select>
                        </div>
                    </div>

                    <div class="col-sm-4">
                    </div>

                    <div class="col-sm-4" id="elboton">
                        <a ui-sref="automovilListFiltros({marca:marca, color:color, fechaMin:fechaMin, fechaMax:fechaMax,modelo:modelo,precioMin:precio,precioMax:precioMax})">
                            <button type="button" class="btn btn-dark" >Buscar</button>
                        </a>
                    </div>

                    <div class="col-sm-4">
                    </div>

                </div>
            </div>
            <div class="col-sm-4"></div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row centered">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="vertical-align: middle">

                <a style="color: red; font-size: 30px;" ui-sref=".comprarAuto">mierda</a>

            </div>
            <div class="col-sm-4"></div>
        </div>

    </div>
    <div class="popu" id="popular">
        <br>
        <br>
        <br>
        <br>
        <h1>Últimas Adquisiciones</h1>
        <br>
        <ul>
            <li>
                <a><img src="{{automovil1.imagen}}" alt=""></a>
                <div class="popuIm">
                    <h3>{{automomovil1.marca.name}}</h3>
                    <div class="hls_data">
                        <a target="_blank" class="titP">{{automovil1.modelo.name}}</a>
                        <a class="btn btn-pro" ui-sref="automovilDetail({automovilId: automovil1.id})"> Ver</a>
                    </div>
                </div>

            </li>
            <li>
                <img src="{{automovil2.imagen}}" alt="">
                <div class="popuIm">
                    <h3>{{automomovil2.marca.name}}</h3>
                    <div class="hls_data">
                        <a target="_blank" class="titP">{{automovil2.modelo.name}}</a>
                        <a class="btn btn-pro" ui-sref="automovilDetail({automovilId: automovil2.id})"> Ver</a>
                    </div>
                </div>
            </li>
            <li>
                
                <img src="{{automovil3.imagen}}" style=" object-fit: contain;" alt="">
                
                <div class="popuIm">
                    <h3>{{automomovil3.marca.name}}</h3>
                    <div class="hls_data">
                        <a target="_blank" class="titP">{{automovil3.modelo.name}}</a>
                        <a class="btn btn-pro" ui-sref="automovilDetail({automovilId: automovil3.id})"> Ver</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="{{automovil4.imagen}}" alt="">
                <div class="popuIm">
                    <h3>{{automomovil4.marca.name}}</h3>
                    <div class="hls_data">
                        <a target="_blank" class="titP">{{automovil4.modelo.name}}</a>
                        <a class="btn btn-pro" ui-sref="automovilDetail({automovilId: automovil4.id})"> Ver</a>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</body>
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h5>Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a ui-sref="listAutomoviles"><i class="fa fa-tag"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-tag"></i>About</a></li>
                    <li><a data-toggle="modal" data-target="#modalFaq"><i class="fa fa-tag"></i>FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://github.com/Uniandes-isis2603/s3_ivanysusbambam"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>Hecho con <i class="fa fa-heart"></i></p>
                <p class="h6">&copy Desarrollo de Software 2018</p>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalFaq" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Mi automóvil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Mi automóvil es un proyecto implementado para la materia de Desarrollo de Software en Equipos, dirigido por Rubby Casallas en el semestre 2018-10. Texto para rellenar. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </div>
    </div>
  </div>
</div>
