<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">

<div class="imagen2">
    <div class="row" style="margin-bottom: 100px">
        <br>
    </div>
    <div class="row centered" id="panelBusqueda">
        <div class="col-sm-4"></div>

        <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="filtroTipo">Tipo</label>
                            <select class="form-control">
                                <option>Camioneta</option>
                                <option>Sedan</option>
                                <option>Pick up</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- Me falta asociar el icono-->
                        <div class="form-group">
                            <label for="filtroMarca">Marca</label>
                            <select class="form-control" required ng-model="marca" ng-options="x.name for x in marcas"></select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!--<span class="input-group-addon"><i class=""></i></span>-->
                        <label for="filtroModelo">Modelo</label>
                        <select class="form-control" required ng-model="color" ng-options="x.name for x in modelos"></select>
                    </div>

                    <div class="col-sm-3">
                        <!--<span class="input-group-addon"><i class=""></i></span>-->
                        <label for="filtroPrecio">Desde</label>
                        <input type="text" class="form-control" required ng-model="precioMax" id="usr">
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="filtroPrecioh">Hasta</label>
                            <input type="text" class="form-control" required ng-model="precioMax" id="usr">
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="filtroAnioD">Año desde</label>
                            <select class="form-control" required ng-model="fechaMin" ng-options="x for x in anos"></select>
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="filtroAnioH">Año hasta</label>
                            <select class="form-control" required ng-model="fechaMax" ng-options="x for x in anos"></select>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                    </div>
                    
                    <div class="col-sm-4" id="elboton">
                        <a ui-sref="automovilListFiltros({marca:marca, color:color, fechaMin:fechaMin, fechaMax:fechaMax,modelo:modelo,precioMin:precio,precioMax:precioMax})">
                            <button type="button" class="btn btn-dark" >Buscar</button>
                        </a>
                    </div>
                    
                    <div class="col-sm-4">
                    </div>

                </div>
        </div>
        <div class="col-sm-4"></div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row centered">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="vertical-align: middle">  
        <i>
            <a href="#popular"> coja</a>
            </i>
        </div>
        <div class="col-sm-4"></div>
    </div>

</div>
<div class="popu" id="popular">
<br>
<br>
<br>
    <br>
<h1>Últimas Adquisiciones</h1>
<br>
<ul>
	<li>
	<img src="../../../resources/carro.jpg" alt="">
	<div class="popuIm">
		<h3>Ferrari</h3>
		<div class="hls_data">
			<a target="_blank" class="titP">Testarossa</a>
			<a class="btn btn-pro" target="_blank"> Ver</a>
		</div>
	</div>
        
	</li>
		<li>
	<img src="../../../resources/carro.jpg" alt="">
	<div class="popuIm">
		<h3>Ferrari</h3>
		<div class="hls_data">
			<a target="_blank" class="titP">Testarossa</a>
			<a class="btn btn-pro" target="_blank"> Ver</a>
		</div>
	</div>
	</li>
		<li>
	<img src="../../../resources/carro.jpg" alt="">
	<div class="popuIm">
		<h3>Ferrari</h3>
		<div class="hls_data">
			<a target="_blank" class="titP">Testarossa</a>
			<a class="btn btn-pro" target="_blank"> Ver</a>
		</div>
	</div>
	</li>
		<li>
	<img src="../../../resources/carro.jpg" alt="">
	<div class="popuIm">
		<h3>Ferrari</h3>
		<div class="hls_data">
			<a target="_blank" class="titP">Testarossa</a>
			<a class="btn btn-pro" target="_blank"> Ver</a>
		</div>
	</div>
	</li>
</ul>
	
</div>
</body>
<!-- Footer -->
<section id="footer">
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-12">
					<h5>Links</h5>
					<ul class="list-unstyled quick-links">
						<li><a ui-sref="buscarAuto"><i class="fa fa-tag"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-tag"></i>About</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-tag"></i>FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://github.com/Uniandes-isis2603/s3_ivanysusbambam"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>Hecho con <i class="fa fa-heart"></i></p>
					<p class="h6">&copy Desarrollo de Software 2018</p>
				</div>
				</hr>
			</div>	
		</div>
</section>