#barraPrincipal {
     margin-bottom: 0;
    background-color: aqua;
    z-index: 9999;
    border: 0;
    font-size: 18px !important;
    line-height: 1.42857143 !important;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;     
    margin-bottom: 0;
}
#carta{
    background-color: whitesmoke;
    border-color: whitesmoke;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
#navAutos:hover{
    color: aqua;
}
#nombre{
    margin-left: 2em;
}
#abrirMenu{
    margin-right: 2em;
}
#iconomenu{
    color:whitesmoke;
}
#tablaCliente{
    margin: 0px;
}
#cartaCliente{
    background-color: rgba(169, 169, 169, 0.35);
    width: 900px;
    border-color: rgba(169, 169, 169, 0.35);
    margin: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
#perCliente{
        background-color: rgba(169, 169, 169, 0.35);
        align-content: center;
}
#imagenPer{
    width: 30%
}
#verCompras,#verPagos,#verVentas,#verComs,#verQuejas{
    color:antiquewhite;
}
#verCompras:hover{
    color:#9ACD32;
    text-decoration: none;
}
#verPagos:hover{
    color:#9ACD32;
    text-decoration: none;
}
#verVentas:hover{
    color:#9ACD32;
    text-decoration: none;
}
#verComs:hover{
    color:#9ACD32;
    text-decoration: none;
}
#verQuejas:hover{
    color:#9ACD32;
    text-decoration: none;
}
#centr{
    text-align: center;
    background-color: white;
}
#perCliente{
     text-align: center;
}
#prin{
    align-self: center;
}
/* Acá comienzan los comentarios*/
#cabComent { position: relative; }
.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}

.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;    
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;    
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }

/* Acá terminan los comentarios */
/*Acá comienza la barra lateral*/
.sidenav{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: whitesmoke; /* Black*/
    color:black;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* Los links de navegación */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: dimgray;
    display: block;
    transition: 0.3s;
}
/* Cuando el mouse está encima, cambia de color */
.sidenav a:hover {
    color: white;
    background-color: dimgray;
    text-decoration:none;
}
/* Esto es de la equis con la que cierro el menu */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#elboton{
    text-align: center;
    margin: 5px
}
#cerrar:hover,
#cerrar:active,
#cerrar:default{
    background-color: whitesmoke;
    text-decoration: none;
    color: darkred;
}
/*Acá termina la side bar*/

.imagen2{
    height: 100vh; 
    background-image: url(../resources/auto-automobile-blur-769892.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: 0px;
    padding-top: 100px;
    align-content: center;
}
#popular{
    height: 100vh;
}
.boton{
    color:antiquewhite;
    border-color: aqua;
}

/* Carros famosos */
img {
	max-width: 100%;
	height: auto;
}
ul li {
	list-style: none
}
a, a:hover {
	text-decoration: none;
	box-shadow: none;
	outline: none;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
h1{ text-align:center; margin:30px 0; color:#fff;}
.popu li {
	width: 25%;
	max-width: 100%;
	display: inline-block;
	float: left;
	text-align: center;
	overflow: hidden;
	position: relative;
	height: 523px
}
.popu li img {
	height: 100%;
}
.popu ul {
	padding: 0;
	display: flow-root;
}
.popu li:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.popu li img {
	-webkit-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}
.popu .popuIm {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	transition: 0.3s ease-in-out;
	background: rgba(0,0,0,0.28);
	visibility: hidden
}
.popu ul li:hover .popuIm {
	background: rgba(255,0,4,0.46);
	transition: 0.3s ease-in-out;
	visibility: visible
}
.hls_data {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 60px 20px;
}
.hls_data a {
	display: block;
}
.titP {
	text-align: right;
	font-size: 22px;
	border-bottom: 2px solid #9ACD32;
	padding: 10px 0;
	margin: 10px 0;
	color: #fff;
}
.titP:hover {
	color: #fff;
}
.popuIm h3 {
	color: #fff;
	transition: 0.5s
}
.popuIm:hover h3 {
	transition: 0.5s ease;
	margin-top: 100px;
}
.btn-pro {
	border-radius: 0;
	color: #fff;
	background: rgba(154, 205, 50, 0.65);
	display: inline-block !important;
	float: right;
}
.btn-pro:hover {
	color: #fff;
	background: #222;
}
.sec_title {
	text-align: center;
	margin: 30px 0 30px;
}
.hls_data {
	left: unset;
	right: -310px;
	transition: 1s ease
}
.popuIm:hover .hls_data {
	left: 0;
	right: 0;
	transition: 1s ease
}
/* Carros famosos */
/* Comprando */
.compraCard {
  margin: 60px auto;
  width: 450px;
  background: #fff;
    background-attachment: scroll;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
    text-align: center;
}
.compraCard .top {
  position: relative;
  height: 570px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.compraCard .top .wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
}
.compraCard .top .wrapper .opCom {
  height: 20px;
}
.compraCard .top .wrapper .opCom .lnr {
  color: #fff;
  font-size: 20px;
}
.compraCard .top .wrapper .opCom .atrasC {
  display: inline-block;
  float: left;
}
.compraCard .top .wrapper .opCom .cancelar {
  display: inline-block;
  float: right;
}
.compraCard .top .wrapper .cMarca {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}
.compraCard .top .wrapper .cModelo {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}
.compraCard .top .wrapper .temp {
  margin-top: 20px;
}
.compraCard .top .wrapper .temp .precioC {
  display: inline-block;
  font-size: 85px;
  font-weight: 600;
  color: #fff;
}
.compraCard .top:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.compraCard .bottom {
  padding: 0 60px;
  background: #fff;
  
}
/* Métodos de Pago */
.paymentWrap {
	margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10;
}
.paymentWrap .paymentBtnGroup {
	max-width: 800px;
	margin: auto;
}
.paymentWrap .paymentBtnGroup .paymentMethod {
	padding: 40px;
	box-shadow: none;
	position: relative;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active {
	outline: none !important;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active .method {
	border-color: #4cd264;
	outline: none !important;
	box-shadow: 0px 3px 22px 0px #7b7b7b;
    width: 100px;
    height: 100px;
}

.paymentWrap .paymentBtnGroup .paymentMethod .method {
	position: absolute;
	right: 3px;
	top: 3px;
	bottom: 3px;
	left: 3px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid transparent;
	transition: all 0.5s;
}

/* Comprando */

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #1a1a1a !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#infoCarro{
      color:#b2b2b2; 
    font-size: 20px ;
    line-height: 1.42857143 !important;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 15px
}
#infoCarro2{
      color:#b2b2b2; 
    font-size: 18px ;
    line-height: 1.42857143 !important;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin: 5px
        
}

<<<<<<< Updated upstream
=======
@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/*Footer*/

.main {
    
}





#fotoCom {
    height: 150px;
    width: 150px;
}

#immoneda {
    width: 80px;
    height: 80px;
}

#imMoney {
    height: 80px;
    width: 80px;
}

#mediosDePagoB {
    margin: auto;
    text-align: center;
    align-content: center;
    background: rgba(244, 238, 238, 0.35) !important;
    height: auto;
}

#mdP {
  font-size: 21px;
  font-weight: 400;
    align-self: center;
}

#formaPago {
    width: auto;
    margin-left: 170px;
}

#botonCompra:hover {
    background-color: rgba(250, 235, 215, 0.17);
    color: darkgreen;
    font-weight: bold;
    border-color: rgba(23, 114, 23, 0.88);
}

#map {
    height: 400px;
    width: 400px;
}

.backComprar {
    height: auto; 
    background-image: url(../resources/backCompra.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: 0px;
    padding-top: 100px;
    align-content: center;
    background-attachment: fixed;
}

#comentario {
    font-family: sans-serif;
    font-size: 20px;
}

#comentariotxt {
    width: 500px;
    margin-left: 60px;
}

.comentCard {
    margin: 60px auto;
  width: 600px;
  background: rgba(150, 148, 148, 0.64);
    background-attachment: fixed;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
    text-align: center;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}

.backComment {
    height: auto; 
    background-image: url(../resources/backComment.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: 0px;
    background-color: aliceblue;
    padding-top: 100px;
    align-content: center;
    background-attachment: fixed;
}


    .modal-confirm {		
		color: #434e65;
		width: 525px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		font-size: 16px;
		border-radius: 5px;
		border: none;
	}
	.modal-confirm .modal-header {
		background: #47c9a2;
		border-bottom: none;   
        position: relative;
		text-align: center;
		margin: -20px -20px 0;
		border-radius: 5px 5px 0 0;
		padding: 35px;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 36px;
		margin: 10px 0;
	}
	.modal-confirm .form-control, .modal-confirm .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-confirm .close {
        position: absolute;
		top: 15px;
		right: 15px;
		color: #fff;
		text-shadow: none;
		opacity: 0.5;
	}
	.modal-confirm .close:hover {
		opacity: 0.8;
	}
	.modal-confirm .icon-box {
		color: #fff;		
		width: 95px;
		height: 95px;
		display: inline-block;
		border-radius: 50%;
		z-index: 9;
		border: 5px solid #fff;
		padding: 15px;
		text-align: center;
	}
	.modal-confirm .icon-box i {
		font-size: 64px;
		margin: -4px 0 0 -4px;
	}
	.modal-confirm.modal-dialog {
		margin-top: 80px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #eeb711;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		border-radius: 30px;
		margin-top: 10px;
		padding: 6px 20px;
        border: none;
    }
	.modal-confirm .btn:hover, .modal-confirm .btn:focus {
		background: #eda645;
		outline: none;
	}
	.modal-confirm .btn span {
		margin: 1px 3px 0;
		float: left;
	}
	.modal-confirm .btn i {
		margin-left: 1px;
		font-size: 20px;
		float: right;
	}
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}

>>>>>>> Stashed changes
