<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class ="container-fluid align-items-center">
    
    <br>
    <div class ="col-md-1"></div>
    <div class="col-md-11"> <h2>Crear Venta</h2> </div>
    
    
    
    <div class ="card" style="margin: 40px">
        <div class ="card-body">
            
            <div class ="col-md-6">
                <form name ="venta">
                    <div class ="row" style = "margin: 10px">
                        <label class  = "col-md-6" for = "ventaNombre">Nombre:</label>
                    </div>
                    <div class ="row" style = "margin: 10px">
                        <input class = "col-md-12" id ="ventaNombre" required ng-model ="data.name">
                    </div>
                    
                    <div class ="row " style = "margin: 10px" >
                       
                            <div ng-if="!venta.$valid">

                                <div class="alert alert-warning" >
                                    <strong>Atención!</strong><p>Debe llenar todos los campos</p>
                                </div> 
                            </div> 
                    </div>
                    <div class ="row">
                        <input ng-show="venta.$valid" ng-click="crearVenta()" value="Crear" class="btn btn-success"/>
                    </div>   
                </form>
            </div>
        </div>
    </div>
    
</div>


<div class ="col-md-1"></div>
<div class ="col-md-11">
    <a ui-sref ="adminVentaGetAll"> Volver </a>
</div>