<div class="imagen2">
    <div class="container" style="margin-top: 30px; width: 700px;">
       

            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
            <div class="container-fluid">
            <div class="card">
                <article class="card-body" style="padding: 40px; padding-bottom: 20px">
                            <h1 id="headerInicio" >Iniciar Sesión</h1>
                            <form name="cliente">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="form-control" type="text" placeholder="Username" required ng-model="data.username">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control" placeholder="******" type="password" required ng-model="data.password">
                                </div>
                                <div class="form-group">
                                    <select ng-model="data.rol" class="form-control">
                                <option ng-click="esAdmin()">administrador</option>
                                <option ng-click="esCliente()">cliente</option>
                                <option  ng-click="esVendedor()">vendedor</option>
                            </select>
                                </div>
                                
                                <div class="form-group">
                                    
                                    <button type="submit" class="btn btn-primary btn-block" id = "botonIniciar" ng-click="autenticar()"> Iniciar</button>
                                </div>
                            </form>
                            <div class="container col-md-12" style="text-align: center ;margin: 0px">
                                        <div ng-if="!cliente.$valid">
                                            <div class="alert alert-warning " >
                                                <strong>Atención!</strong><p>Debe llenar todos los campos</p>
                                            </div> 
                                        </div> 
                            </div>
                        </article>
                    </div>
            </div>
        
    </div>
</div>
