<div class="imagen2">
    <div class="container" style="margin-top: 30px;">
        <div class="card" id="cartaLogin">

            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
            <div class="container-fluid">
            <div class="card">
                        <article class="card-body">
                            <h4 class="card-title">Iniciar Sesión</h4>
                            <form name="cliente">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="form-control" placeholder="Username" required ng-model="data.username">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control" placeholder="******" type="password" required ng-model="data.password">
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                <option ng-model="data.rol" ng-click="esAdmin()">Administrador</option>
                                <option ng-model="data.rol" ng-click="esCliente()">Cliente</option>
                                <option ng-model="data.rol" ng-click="esVendedor()">Vendedor</option>
                            </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" ng-click="autenticar()"> Iniciar</button>
                                </div>
                            </form>
                            <div class="container col-md-12" style="text-align: center ;margin: 0px">
                                        <div ng-if="!cliente.$valid">
                                            <div class="alert alert-warning " >
                                                <strong>Atención!</strong><p>Debe llenar todos los campos</p>
                                            </div> 
                                        </div> 
                            </div>
                        </article>
                    </div>
            </div>
        </div>
    </div>
</div>
