<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="imagenMarca" style="height: auto">
    <div class="row col-12">
        <div class="creaCard one">
            <div style="text-align: left; color: white">
                <a ui-sref="adminClientes"><span class="atras"><i class="fa fa-angle-left fa-2x" style="color: aliceblue"></i></span></a></div>
            <h2>Registrar Compra</h2>
            <form name="comprarAuto" style="text-align: center">
                <br>
                <label class="col-md-6" for="nombre">Id del Cliente</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="clienteId">
                <br>
                <br>
                <label class="col-md-12" for="vendedor">Id del Vendedor</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="vendedorId">
                <br>
                <br>
                <label class="col-md-6" for="puntodeVenta">Id del Punto de Venta</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="puntoDeVentaId">
                <br>
                <br>
               
               
                
             
                
                <br>
                <div ng-if="!comprarAuto.$valid">
                    <div class="alert alert-warning">
                        <strong>Atención!</strong>
                        <p>Debe llenar todos los campos</p>
                    </div>
                </div>
                <br>
                <input ng-show="comprarAuto.$valid" id="botonCrud" ng-click="crearCompra()" value="Crear" class="btn btn-success" />
                <br>
            </form>
            <br>
        </div>
    </div>
</div>
