<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="imagenCRUD">
    <div class="row col-12">
        <div class="creaCard one">
            <div style="text-align: left; color: white">
                <a ui-sref="adminClientes"><span class="atras"><i class="fa fa-angle-left fa-2x" style="color: aliceblue"></i></span></a></div>
            <h2>Registrar Compra</h2>
            <form name="compra" style="text-align: center">
                <br>
                <label class="col-md-6" for="nombre">Cliente</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.clienteId">
                <br>
                <br>
                <label class="col-md-6" for="vendedor">Vendedor</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.vendedorId">
                <br>
                <br>
                <label class="col-md-6" for="puntodeVenta">Punto de Venta</label>
                <br>
                <input class="col-md-12" id="crudtxt" required ng-model="data.puntoDeVenta">
                <br>
                <br>
                <div ng-if="!compra.$valid">
                    <div class="alert alert-warning">
                        <strong>Atención!</strong>
                        <p>Debe llenar todos los campos</p>
                    </div>
                </div>
                <br>
                <input ng-show="compra.$valid" id="botonCrud" ng-click="crearCliente()" value="Crear" class="btn btn-success" />
                <br>
            </form>
            <br>
        </div>
    </div>
</div>
