<div class="backComprar">
    <div class="row col-12">
        <div class="col">
            <div class="compraCard one">
                <!-- colocar la imagen del carro-->
                <div class="top" style="background: url(../../../resources/usuarioback.jpg)">
                    <div class="wrapper">
                        <div class="opCom">
                            <a ui-sref="automovilGetAll"><span class="lnr atrasC"><i class="fa fa-angle-left fa-2x"></i></span></a>
                            <a href="buscarAuto"><span class="lnr cancelar"><i class="fa fa-times"></i></span></a>
                        </div>
                        <h1 class="cMarca">{{automovil.marca.name}}</h1>
                        <h3 class="cModelo">{{automovil.modelo.name}}</h3>
                        <a> <img  src="{{automovil.imagen}}" style="width: 500%" class="float-left" alt="imagencarro"></a> 
                        <p class="temp">
                            <span class="precioC">{{automovil.valorListado|currency}}</span>
                        </p>
                          
                    </div>
                </div>
                <br>
                <div id="mediosDePagoB">
                    <label id="mdP">Selecciona tu medio de pago</label>
                    <br>
                    
                        <select class ="col-md-8"  type ="number" required ng-model = "medioDePago" ng-options="x.numero + ' | ' + x.tipo for x in elCliente.mediosDePago">
                        </select>
                    <br>
                    <br>
                    <button type="button" class="btn btn-success" ng-click="crearVenta()" id="botonCompra" >Continuar</button> 
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Correcto!</h4>	
				<p>Se ha procesado tu solicitud</p>
                <!-- No entiendo por qué no me lleva al estado y ya me estresé -->
                <button class="btn btn-success" data-dismiss="modal" ng-click="crearVenta()"><span>Continuar</span> <i class="material-icons">&#xE5C8;</i></button>
			</div>
		</div>
	</div>
</div>